
.idea/*

__pycache__/*

catboost_info/*

references/*
results/*

experiments/*
assets/*
tmps/*

wandb/*

tmp/*
datasets/*

*.log

*.wav
*.mp3

*.pkl



*.png

*.jpg
*.xlsx
*.csv

catboost_info

*.json
*.jsonl

__pycache__/
.ipynb_checkpoints/
/jdk-8u212-linux-x64.tar.gz
/backups/
/pCLUE-main/
/further_pretraining/服务器操作.md
/tmp/
/internal/
